There are a total of 25 points possible for this final project.



Exercise 2 - Create a markdown cell with the title of the notebook. (1 pt)

Exercise 3 - Create a markdown cell for an introduction. (1 pt)

Exercise 4 - Create a markdown cell to list data science languages. (3 pts)

Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)

Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)

Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)

Exercise 8 - Create a code cell to multiply and add numbers. (2 pts)

Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)

Exercise 10 -Insert a markdown cell to list Objectives. (3 pts)

Exercise 11 - Create a markdown cell to indicate the Author’s name. (2 pts)

Exercise 12 - Share your notebook through GitHub (3 pts)

Exercise 13 - Take a screenshot of the first page of the notebook. (1 pt)

<h2>Exercise 2 - Create a markdown cell with the title of the notebook.

<h2>Title: Peer-graded_Assignment_Coursera

<h2>Exercise 3 - Create a markdown cell for an introduction.

<h2>This is a Peer-graded assignment work for IBM data science_Tools for data science

<h2>Exercise 4 - Create a markdown cell to list data science languages.

<h2>Data Science Languages:
<ol>
    <li>Python.
    <li>R.
    <li>SQL.
    <li>Java.
    <li>JavaScript.
    <li>Scala.
    <li>C++.
    <li>Julia.
</ol>

<h2>Exercise 5 - Create a markdown cell to list data science libraries.

<h2>Data Science libraries:
<ol>
    <li>TensorFlow.
    <li>NumPy.
    <li>SciPy.
    <li>Pandas.
    <li>IBM Db2 Database.
    <li>MySQL.
    <li>SciKit-Learn.
    <li>PyTorch.
    <li>dplyr.
</ol>

<h2>Exercise 6 - Create a markdown cell with a table of Data Science tools.

<h2>Data Science Tools:

<table style="width:50%">
  <tr>
    <th>Data Science tools</th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <td>Apache Hadoop </td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Apache Spark</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>TensorFlow</td>
    <td></td>
    <td></td>
  </tr>
    <tr>
    <td>MangoDB</td>
    <td></td>
    <td></td>
  </tr>
</table>

<h2>Exercise 7 - Create a markdown cell introducing arithmetic expression examples.

<h2>Arithmetic expression examples:
<ol>
    <li>Addition.
    <li>Substraction.
    <li>Multiplication.
    <li>Division.
</ol>

In [11]:
# Addition
code1 = compile("1 + 2", "<string>", "eval")
eval(code1)
# Result: 3

3

In [12]:
# Substraction
code2 = compile("7 - 2", "<string>", "eval")
eval(code2)
# Result: 5

5

In [13]:
# Multiplication
code3 = compile("3 * 4", "<string>", "eval")
eval(code3)
# Result: 12

12

In [14]:
# division
code4 = compile("100 / 2", "<string>", "eval")
eval(code4)
# Result: 50.0

50.0

<h2>Exercise 8 - Create a code cell to multiply and add numbers.

In [15]:
# multiply and add numbers
(8*7)+2
# Result: 58

58

<h2>Exercise 9 - Create a code cell to convert minutes to hours.

In [16]:
mins = 100
hours = mins / 60
print(str(hours))

# Result: 1.6666666666666667 hours

1.6666666666666667

<h2>Exercise 10 - Insert a markdown cell to list Objectives.

<h2> Objectives:
<ol>
<li>Collection of Items.
<li>Ordered Elements.
<li>Mutability.
<li>Dynamic Size.
<li>Iteration and Access.
<li>Versatility.
<li>Concatenation and Repetition.
<li>Data Organization.

<h2>Exercise 11 - Create a markdown cell to indicate the Author’s name.

<h2>Author: Tianxiao Xiao

<h2>Exercise 12 - Share your notebook through GitHub.